<main class="add-product container">
  <form action="/add-product" method="POST">
    <input type="text" class="form-control" name="title" />
    <button type="submit" class="btn btn-primary">Submitt</button>
  </form>
</main>