<%- include('layout/includes/head.ejs') %>
  </head>
  <body>
    <%- include('layout/includes/navigation.ejs') %>
<div class="container">
  <main>
    <!-- {{#if hasProduct}} -->
    <h1 class="main-header-text">My product</h1>
    <p>List of all products...</p>
    <!-- {{/if}} -->
  </main>
</div>
  </body>
