/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #dee2e6 !important;
}
/* Gradient text (Red → Pink → Purple) */
.gradient-text {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to right, #ff0021, #f921ba, #8600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/* Black text for "Certification" */
.black-text {
  font-size: 3rem;
  font-weight: 700;
  color: #111;
  margin-left: 10px;
}

/* Optional: adjust for smaller screens */
@media (max-width: 600px) {
  .gradient-text,
  .black-text {
    font-size: 2.5rem;
  }
}
