<h3 style="color: red;">==============Rxjs exmple===================</h3>


<div class="concat-exp">
  <strong>Rxjs: Concat Operator</strong>
  <ul id="concat-list"></ul>
</div>

<hr />

<div class="merge-exp">
  <strong>Rxjs: Merge Operator</strong>
  <ul id="merge-list"></ul>
</div>

<hr />
<div class="fork__join-exp">
  <strong style="color: red;">Rxjs: 111Fork Join Operator</strong>
  <ul id="fork__join-list"></ul>
</div>

<hr />
<div class="merge__map-exp">
  <strong>Rxjs: merge map Operator</strong>
  <ul id="merge__map-list"></ul>
</div>

<hr />
<h1 style="color:blueviolet">2nd - example of marge example with 3 api</h1>
<div class="merge__map-exp">
  <strong>Rxjs: merge Operator</strong>
  <ul id="map3-list"></ul>
</div>

<hr />
<div class="merge__map-exp">
  <strong>Rxjs: combinedLatest Operator</strong>
  <ul id="combine__latest-list"></ul>
</div>

<hr />
<div class="merge__map-exp">
  <strong>Rxjs: Zip Operator</strong>
  <ul id="zip-list"></ul>
</div>

<hr />
<div class="switch__map-exp">
  <strong style="color: brown;">Rxjs: Switch map Operator</strong>
  <ul id="switch-list"></ul>
</div>

<hr />
<div class="replay__map-exp">
  <strong style="color: brown;">Rxjs: replay subject </strong>
  <ul id="replay-list"></ul>
</div>



<h4>****************************re-usable example========================</h4>
<app-profile-card ChildRcvrName="Pass Data from Rxjs-demo fiolder" customRed="green"></app-profile-card>